h1.header {
  color: #111827;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

h1.header__price {
  color: #111827;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 160px;
  height: 100%;
  width: 100%;
}
